<% include ../partials/header %>
<div class="border border-top border-light">
  <div class="col py-1 bg-light text-right">
    <a href="/songs/<%=song.id%>" class="text-dark"><i class="fa fa-arrow-right"></i> Skip</a>
  </div>
</div>
<div class="container py-5" id="form">
  <div class="row">
    <div class="col-md-7 text-center">
      <div class="song-lyrics">
        <% include ../partials/songlyrics %>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
