<form action="/songs/<%= song._id %>/comments" method="POST">
<!-- <div class="form-group">
  <input class="form-control" type="text" name="comment[author]" placeholder="Name">
</div> -->
<p class="small">
  Posting a comment as <a href="#"><%= currentUser.username %></a> - Not you? <a href="/logout">Log out</a>
</p>
<div class="form-group">
  <textarea class="form-control" name="comment[text]" style="resize: none;" placeholder="Your Comment"></textarea>
</div>
<div class="form-group">
  <button class="btn btn-primary">Add Comment</button>
</div>
</form>
</div>
