<footer class="footer bg-light p-3">
  <div class="container-fluid text-right">
    <a href="http://restoreproject.co.uk" class="text-dark" target="_blank"><i class="fa fa-external-link"></i> Restore Project</a>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
  $(document).ready(function(){
      let results = $("#searchResult");
      $("#song_search").on("keyup", function(e){
        let searchVal = $(this).val();
        let expression = new RegExp(searchVal, "i");
        if(searchVal.length > 2){
          results.html("")
          $.getJSON('/share/new', function(data){
            $.each(data, function(key, value){
              if(value.title.search(expression) != -1 || value.author.search(expression) != -1){
                 results.append(`<li class="list-group-item"><a href="#" data-id="${value._id}" data-title="${value.title}" data-artist="${value.author}">${value.title}, <em>${value.author}</em></a></li>`);
              }
            })
          });
        } else {
          results.html("")
        }
      });

      $("#searchResult").on("click", "a", function(e){
        let addedSong = `
        <li class="list-group-item song-added">
          <span class='songNum'>${$('#songList li').length + 1}</span>
          <strong class="song-title">${$(this).attr("data-title")}</strong>
          <em class="song-author">${$(this).attr("data-artist")}</em>
          <a href="#0" class="remove-song" data-id="${$(this).attr("data-id")}"><i class="fa fa-times-circle-o"></i></a>
        </li>`;
        $(`<input type="hidden" id="${$(this).attr("data-id")}" name="songset[songs]" value="${$(this).attr("data-id")}" />`).appendTo("#searchResult ul");
        $(addedSong).appendTo("#songList ul");

        $(this).closest("li").remove();
        emptyCheck();
      });

      $("#songList").on("click", "a.remove-song", function(){
        $(`#${$(this).attr("data-id")}`).remove();
        $(this).parent().remove();
        emptyCheck();
      });
      function emptyCheck(){
        console.log($("#songList ul li").length);
        if($("#songList ul li").length < 2){
          $("#submitSongs").attr("disabled", true);
        } else {
          $("#submitSongs").removeAttr("disabled");
        }
        if($("#searchResult ul li").length){
          $("#searchResult").addClass("active");
        } else {
          $("#searchResult").removeClass("active");
        }
      }
      emptyCheck();
  });

</script>
</body>
</html>
