<footer class="footer bg-light p-3">
  <div class="container-fluid text-right">
    <a href="http://restoreproject.co.uk" class="text-dark" target="_blank"><i class="fa fa-external-link"></i> Restore Project</a>
  </div>
</footer>
