$primaryColor: #FF9900;

body{
  font-family: 'Rubik', sans-serif;
  color: #707070;
}
h2{
  font-weight: 300;
  font-size: 2em;
}
h3{
  font-size: 1.5em;
  font-weight: 400;
}
a{
  color: #000;
  &:hover{
    color: #000;
  }
}
p a{
  font-weight: 500;
}
.bg-image{
    position: relative;
    background-size: cover;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    @media(min-width: 960px){
      min-height: 50vh;
    }
    .card-body{
      position: relative;
      z-index: 10;
      .card-text, .card-title{
        text-shadow: 0 0 1.5em #000;
      }
    }
    &::before{
      content: '';
      background: #000;
      opacity: 0.35;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
    }
}

.about{
  box-shadow: 0 0.5em 5em rgba(0,0,0,0.1);
}

.btn-primary{
  background-color: #FF9900;
  border-color: #F90;
}
.btn-primary:hover{
  background-color: #E07320;
  border-color: #E07320;
}
.navbar-brand{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.875em;
}

.song-title{
  font-weight: 400;
  font-size: 1.75em;
}
.song-author{
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 500;
}
.song-actions .btn {
  padding-left: 0.25em;
  padding-right: 0.25em;
  border-radius: 0;
  opacity: 0.75;
}
.song-actions .btn .text{
  font-size: 0.65em;
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}


.search-container{
  position: relative;
  .search-result{
    max-height: 30vh;
    overflow: auto;
    position: absolute;
    border-radius: 5px;
    &.active{
      border: 1px solid $primaryColor;
    }
  }
  ul{
    padding: 0;
  }
}

.song-list a{

}
.song-list ul{
  padding: 0;
}
.song-list li{
  list-style-type: none;
}
.song-list a{
  color: #444;
}

.form-control-outline, .form-control-outline:focus{
  background: none;
  color: #fff;
}

.icon-block{
  display: block;
}
.form-control:focus{
  border-color: $primaryColor;
}

.form-control:focus, .btn:focus{
  box-shadow: none;
}

.btn-primary[disabled]{
  opacity: 0.5;
  background-color: $primaryColor;
  border-color: $primaryColor;
  cursor: not-allowed;
}



.song-lyrics {
  .title{
    padding-bottom: 1em;
  }
  .form-group{
    border-top: 2px dashed #ddd;
    position: relative;
    padding: 2em 0 0;
    .delete_verse{
      position: absolute;
      right: 0;
      top: 0.25em;
      font-size: 1em;
      line-height: 1.5em;
      opacity: 0;
      cursor: pointer;
      height: 1.5em;
      background: #eee;
      border-radius: 0.75em;
      z-index: 100;
      padding: 0 0.5em;
      span{
        text-transform: uppercase;
        font-size: 0.75em;
        font-weight: 700;
      }
      &:hover{
        opacity: 1;
      }
    }
    &:hover{
      .delete_verse{
        opacity: 0.5;
      }
    }
    textarea.form-control{
      resize: none;
      height: auto;
      border: 0;
      border-radius: 3em;
      text-align: center;
      padding: 1em 0 1.5em;
      &:hover{
        background-color: #f8f8f8;
      }
      &:focus{
        outline: none;
        box-shadow: none;
        border-color: #999;
        background: #f4f4f4;
      }
    }
  }
}
.verse-type-select{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  border: 2px dashed #eee;
  border-radius: 3em;
  height: 3em;
  label{
    cursor: pointer;
    font-style: italic;
    opacity: 0;
    height: 3em;
    padding: 1em 0;
    text-align: center;
    width: 100%;
    margin: 0;
    line-height: 1;
    transition: transform 0.25s ease-out, opacity 0.35s ease-out;
    &:nth-of-type(1){
      transform: translateX(0%);
    }
    &:nth-of-type(2){
      transform: translateX(0%);
    }
    &:nth-of-type(3){
      transform: translateX(0%);
    }
    &:hover{
      opacity: 1;
      color: #000;
    }
  }
  input{
    position: absolute;
    left: -10000px;
    &:checked + label{
      opacity: 1 ;
      &:nth-of-type(1){
        transform: translateX(100%);
      }
      &:nth-of-type(2){
        transform: translateX(0%);
      }
      &:nth-of-type(3){
        transform: translateX(-100%);
      }
    }
  }
  &:hover{
    input + label{
      opacity: 0.5;
      &:nth-of-type(1){
        transform: translateX(0%);
      }
      &:nth-of-type(2){
        transform: translateX(0%);
      }
      &:nth-of-type(3){
        transform: translateX(0%);
      }
      &:hover{
        opacity: 1;
      }
    }
    input:checked + label{
      opacity: 1;
    }
  }
}

.add-lyrics-btn-group{
  text-align: center;
  padding: 1em;
  border-top: 2px dashed #ddd;
  .btn{
    background: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875em;
    &:hover{
      color: #000;
    }
  }
}
.score-card{
  position: relative;
  &
  .score-info{
    position: absolute;
    opacity: 0;
    z-index: 100;
    color: #fff;
    background: #666;
    visibility: hidden;
    width: 15em;
    padding: 1em;
    left: 50%;
    transform: translateX(-50%);
    top: 85%;
    font-size: 0.875em;
    text-align: left;
    border-radius: 0.25em;
    transition: opacity 0.25s ease-out, transform 0.25s ease-out;
    &::before{
      content: '';
      display: block;
      position: absolute;
      border-bottom: 15px solid #666;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      top: -14px;
      left: 50%;
      margin-left: -10px;
    }
  }
  &:hover{
    .score-info{
      opacity: 1;
      visibility: visible;
      transform: translate(-50%, 5%) ;
    }
  }
}
.comment-body {
  position: relative;
  p:last-child{
    margin-bottom: 0;
  }
  .options{
  background: #f4f4f4;
  position: absolute;
  bottom: 0;
  right: 0;
}}

@import "presentation";
