/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}

.lyrics-presentation{
  height: 100vh;
  width: 100%;
  .slide-nav{
    position: absolute;
    z-index: 100;
    right: 0;
    top: 0;
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column;
    width: 7em;
    a{
      color: #fff;
      display: block;
      padding: 2em 0;
      transition: transform 0.15s ease-out;
      &:hover{
        transform: scale(1.5);
      }
    }
  }
  .slide{
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.611;
    text-shadow: 0 0.05em 0.15em #000, 0 0.05em 0.35em #000;
    ul{
      padding: 0;
    }
    li{
      list-style-type: none;
      font-weight: 300;
      padding: 0;
      line-height: 1.611;
      text-shadow: 0 0.05em 0.15em #000, 0 0.05em 0.35em #000;
    }
  }
}

.slick-arrow{
  position: absolute;
  top: 50%;
  left: 0.25em;
  background: none;
  color: #fff;
  font-size: 3em;
  border: 0;
  width: 1em;
  height: 1em;
  line-height: 1;
  padding: 0;
  margin-top: -1.5em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 100;
  &.slick-next{
    left: auto;
    right: 0.25em;
  }
}

* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.85;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground { width: 300%; left: -100%; }
}
