<% include ../partials/header %>
<div class="container">
  <h1>Songs</h1>
  <% if(currentUser){ %>
  <h4>Hi <%= currentUser.username %>!</h4>
  <% } %>
  <div class="song-search">
    <input type="text" class="form-control form-control-lg" placeholder="Search for a song">
  </div>

  <a href="/songs/add" class="btn btn-primary">Add song</a>

  <div class="song-list">
    <ul class="list-group">
      <% songs.forEach(function(song){ %>
        <li class="list-group-item"><a href="/songs/<%= song._id %>"><%= song.title %> <em><%= song.author %></em></a> | <a href="#"><i class="fa fa-desktop"></i></a></li>
      <% }) %>
    </ul>
  </div>
</div>
<% include ../partials/footer %>
