<% include ../partials/header %>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="display-4"><%= user.name.givenName %> <%= user.name.familyName %></h1>
      <h3>Username: <%= user.username %></h3>
    </div>
  </div>
</div>
<% include ../partials/footer %>
