<% include ../partials/header %>
<div class="container"><div class="py-5">

    <h2>Create a worship set</h2>
    <form action="/share/new" method="post">
      <div class="row">
        <div class="col-6 py-3">
          <h3>Add a song</h3>

        <div class="search-container mb-4">
          <div class="input-group">
            <input id="song_search" autocomplete="off" class="form-control form-control-lg" type="search" placeholder="Type a song title or theme">
          </div>
          <div class="search-result" id="searchResult">
            <ul class="list-group list-group-flush"></ul>
          </div>
        </div>
        <hr>
        <div class="form-group">
          <label for="">What's the title of this set?</label>
          <input type="text" name="songset[title]" class="form-control" placeholder="Set title">
        </div>
        <label for="songset_description">About this set <small style="display: block; color: #999">What's the message? Why have you chosen these songs?</small></label>
        <textarea class="form-control" name="songset[description]" id="songset_description" placeholder="Description"></textarea>
        </div>
        <div class="col-6">
          <div id="songList"><ul class="list-group"></ul></div>
          <div class="text-right">
            <button class="btn btn-lg btn-primary" type="submit" id="submitSongs">Share Set <i class="fa fa-check-circle-o ml-2"></i></button>
          </div>
        </div>
      </div>
    </form>
</div>
</div>
<% include ../partials/footer %>
