<% include ../partials/header %>
<div class="container songset-new"><div class="py-5">

    <h2 class="text-center">Create a worship set</h2>
    <form action="/share/new" method="post">
      <div class="row justify-content-between">
        <div class="col-12 col-md-6 py-3">

          <div class="form-group">
            <label for="">What's the title of this set?</label>
            <input type="text" name="songset[title]" class="form-control form-control-lg" autocomplete="off" placeholder="Set title">
          </div>
      <div class="form-group">  <div class="search-container mb-4"><h3 class="text-center mb-3">Add songs</h3>
          <input id="song_search" autocomplete="off" class="form-control form-control-lg search-input" type="search" placeholder="Type a song title or theme">
          <div class="search-result list-group list-group-flush" id="searchResult"></div>
        </div>
</div>
              </div>
              <div class="col-12 col-md-5 py-3">
        <h3 class="text-center">Your song list</h3>
        <div id="songList" class="song-list">
          <ul class="list-group list-group-flush"></ul>
        </div>
              </div>


      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
          <textarea class="form-control form-control-lg" name="songset[description]" rows="4" id="songset_description" placeholder="Why have you chosen these songs?"></textarea>
        </div>
          <div class="text-center">
            <button class="btn btn-lg btn-primary" type="submit" id="submitSongs">Share Set <i class="fa fa-check-circle-o ml-2"></i></button>
          </div>
        </div>
      </div>
    </form>
</div>
</div>

<% include ../partials/footer %>
<% include ../partials/scripts %>
<script src="/js/song-search.js" type="text/javascript"></script>
<% include ../partials/closing %>
